extend base/layout.pug

block content
  #chat.chat
    .chat__messages
      ul.chat__messages-list
        li.chat__messages-item
    form(method="post").chat__messages-form
      textarea(placeholder="Write a message\nAnd, please, be cool!")
      button#send(type="submit")
