extend base/layout.pug

block content
  .chat
    .chat__messages
      ul#list.chat__messages-list
    //- form#form.chat__messages-form
    //-   textarea#field.field(placeholder="...", rows="2")
    //-   button#send.button(type="submit") Enviar


  form.form
    textarea.message(rows="2", placeholder="Message ...")
    button.send(type="submit") Send
