extend base/layout.pug

block content
  .chat
    .chat__messages
      ul#list.chat__messages-list
        li.chat__messages-item
    form(method="post")#form.chat__messages-form
      textarea(placeholder="Write a message\nAnd, please, be cool!")
      button#send(type="submit")
