extend base/layout.pug

block content
  .chat
    .chat__messages
      ul#list.chat__messages-list
    form#form.chat__messages-form
      textarea#field(placeholder="...")
      button#send(type="submit") Enviar
