position-footer()
  position: absolute
  bottom: 0
  right: 0
  left: @right

.form
  position-footer()
  overflow: auto
  box-sizing: border-box
  width: 100%
  padding-right: 2.5%
  padding-left: @padding-right
  border-top: 1px solid $form-color

  +above(540px)
    padding-right: 5%
    padding-left: @padding-right

  > .message
    position: relative
    float: left
    min-width: 75%
    min-height: 50px

    &::before
      position: absolute
      content: '...'

    &:hover
      &::before
        content: none

    +above(540px)
      min-width: 80%

  > .send
    height: 50px
    width: 25%
    cursor: pointer

    +above(540px)
      width: 20%
