doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title title
  body
    header
      h1 title
    block content
    footer
    script(src="/socket.io/socket.io.js")
    script(src="/resource/main.js")
